
@{
    Layout = "_SettingsLayout";
}

<!-- GRID COLUMN -->
<div class="account-hub-content">
    <!-- SECTION HEADER -->
    <div class="section-header">
        <!-- SECTION HEADER INFO -->
        <div class="section-header-info">
            <!-- SECTION PRETITLE -->
            <p class="section-pretitle">Klublar</p>
            <!-- /SECTION PRETITLE -->
            <!-- SECTION TITLE -->
            <h2 class="section-title">Klub məlumatları</h2>
            <!-- /SECTION TITLE -->
        </div>
        <!-- /SECTION HEADER INFO -->
    </div>
    <!-- /SECTION HEADER -->
    <!-- GRID COLUMN -->
    <div class="grid-column">
        <!-- WIDGET BOX -->
        <div class="widget-box">
            <!-- WIDGET BOX TITLE -->
            <p class="widget-box-title">Yeni klub yarat</p>
            <!-- /WIDGET BOX TITLE -->
            <!-- WIDGET BOX CONTENT -->
            <div class="widget-box-content">
                <!-- FORM -->
                <form class="form">
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-name">Klub adı</label>
                                <input type="text" id="profile-name" name="profile_name">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-tagline">Klub alt başlığı</label>
                                <input type="text" id="profile-tagline" name="profile_tagline">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small full">
                                <textarea style="min-height:200px !important;" id="profile-description" name="profile_description" placeholder="Klub haqqında.."></textarea>
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small full">
                                <textarea style="min-height:200px !important;" id="profile-description" name="profile_description" placeholder="Klubun qaydalarını oxunaqlı şəkildə yazın.."></textarea>
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                </form>
                <!-- /FORM -->
            </div>
            <!-- WIDGET BOX CONTENT -->
        </div>
    </div>
    <!-- /GRID COLUMN -->
</div>
<!-- /GRID COLUMN -->
