@model UserViewModel
@{
    Layout = "_SettingsLayout";

}
<!-- GRID COLUMN -->
<div class="account-hub-content">
    <!-- SECTION HEADER -->
    <div class="section-header">
        <!-- SECTION HEADER INFO -->
        <div class="section-header-info">
            <!-- SECTION PRETITLE -->
            <p class="section-pretitle">Profilim</p>
            <!-- /SECTION PRETITLE -->
            <!-- SECTION TITLE -->
            <h2 class="section-title">Profil məlumatları</h2>
            <!-- /SECTION TITLE -->
        </div>
        <!-- /SECTION HEADER INFO -->
    </div>
    <!-- /SECTION HEADER -->
    <!-- GRID COLUMN -->
    <div class="grid-column">
        
        <!-- WIDGET BOX -->
        <div class="widget-box">
            <!-- WIDGET BOX CONTENT -->
            <div class="widget-box-content">
                <!-- FORM -->
                <form class="form" method="post">
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-name">Hərkəsə açıq ad</label>
                                <input asp-for="FullName">
                                <span class="text-danger" asp-validation-for="FullName"></span>
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-tagline">İstifadəçi adı</label>
                                <input asp-for="Username">
                                <span class="text-danger" asp-validation-for="Username"></span>
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <!-- FORM ROW -->
                    <div class="form-row split">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                        </div>
                        <!-- /FORM ITEM -->
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-occupation">E-mail ünvanı</label>
                                <input asp-for="Email">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <div style="text-align:end">
                        <button style="width:86px; margin-top:25px;" type="submit" class="button small secondary">Paylaş</button>
                    </div>
                </form>
                <!-- /FORM -->
            </div>
            <!-- WIDGET BOX CONTENT -->
        </div>
        <!-- /WIDGET BOX -->
    </div>
    <!-- /GRID COLUMN -->
</div>
<!-- /GRID COLUMN -->