
@{
    Layout = "_SettingsLayout";
}


<!-- WIDGET BOX -->
<div class="widget-box">
    <!-- WIDGET BOX TITLE -->
    <p class="widget-box-title">Sosial media linklərin</p>
    <!-- /WIDGET BOX TITLE -->
    <!-- WIDGET BOX CONTENT -->
    <div class="widget-box-content">
        <!-- FORM -->
        <form class="form">
            <!-- FORM ROW -->
            <div class="form-row split">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- FORM INPUT -->
                    <div class="form-input social-input small active">
                        <!-- SOCIAL LINK -->
                        <div class="social-link no-hover facebook">
                            <!-- ICON FACEBOOK -->
                            <svg class="icon-facebook">
                                <use xlink:href="#svg-facebook"></use>
                            </svg>
                            <!-- /ICON FACEBOOK -->
                        </div>
                        <!-- /SOCIAL LINK -->

                        <label for="social-account-facebook">Facebook profil linki</label>
                        <input type="text" id="social-account-facebook" name="social_account_facebook">
                    </div>
                    <!-- /FORM INPUT -->
                </div>
                <!-- /FORM ITEM -->
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- FORM INPUT -->
                    <div class="form-input social-input small active">
                        <!-- SOCIAL LINK -->
                        <div class="social-link no-hover twitter">
                            <!-- ICON TWITTER -->
                            <svg class="icon-twitter">
                                <use xlink:href="#svg-twitter"></use>
                            </svg>
                            <!-- /ICON TWITTER -->
                        </div>
                        <!-- /SOCIAL LINK -->

                        <label for="social-account-twitter">Twitter profil linki</label>
                        <input type="text" id="social-account-twitter" name="social_account_twitter">
                    </div>
                    <!-- /FORM INPUT -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->
            <!-- FORM ROW -->
            <div class="form-row split">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- FORM INPUT -->
                    <div class="form-input social-input small active">
                        <!-- SOCIAL LINK -->
                        <div class="social-link no-hover instagram">
                            <!-- ICON INSTAGRAM -->
                            <svg class="icon-instagram">
                                <use xlink:href="#svg-instagram"></use>
                            </svg>
                            <!-- /ICON INSTAGRAM -->
                        </div>
                        <!-- /SOCIAL LINK -->

                        <label for="social-account-instagram">Instagram profil linki</label>
                        <input type="text" id="social-account-instagram" name="social_account_instagram">
                    </div>
                    <!-- /FORM INPUT -->
                </div>
                <!-- /FORM ITEM -->
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- FORM INPUT -->
                    <div class="form-input social-input small active">
                        <!-- SOCIAL LINK -->
                        <div class="social-link no-hover twitch">
                            <!-- ICON TWITCH -->
                            <svg class="icon-twitch">
                                <use xlink:href="#svg-twitch"></use>
                            </svg>
                            <!-- /ICON TWITCH -->
                        </div>
                        <!-- /SOCIAL LINK -->

                        <label for="social-account-twitch">Twitch profil linki</label>
                        <input type="text" id="social-account-twitch" name="social_account_twitch">
                    </div>
                    <!-- /FORM INPUT -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->
            <!-- FORM ROW -->
            <div class="form-row split">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- FORM INPUT -->
                    <div class="form-input social-input small">
                        <!-- SOCIAL LINK -->
                        <div class="social-link no-hover google">
                            <!-- ICON GOOGLE -->
                            <svg class="icon-google">
                                <use xlink:href="#svg-google"></use>
                            </svg>
                            <!-- /ICON GOOGLE -->
                        </div>
                        <!-- /SOCIAL LINK -->

                        <label for="social-account-google">Google + profil linki</label>
                        <input type="text" id="social-account-google" name="social_account_google">
                    </div>
                    <!-- /FORM INPUT -->
                </div>
                <!-- /FORM ITEM -->
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- FORM INPUT -->
                    <div class="form-input social-input small active">
                        <!-- SOCIAL LINK -->
                        <div class="social-link no-hover youtube">
                            <!-- ICON YOUTUBE -->
                            <svg class="icon-youtube">
                                <use xlink:href="#svg-youtube"></use>
                            </svg>
                            <!-- /ICON YOUTUBE -->
                        </div>
                        <!-- /SOCIAL LINK -->

                        <label for="social-account-youtube">Youtube kanal linki</label>
                        <input type="text" id="social-account-youtube" name="social_account_youtube">
                    </div>
                    <!-- /FORM INPUT -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->
            <!-- FORM ROW -->
            <div class="form-row split">
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- FORM INPUT -->
                    <div class="form-input social-input small active">
                        <!-- SOCIAL LINK -->
                        <div class="social-link no-hover patreon">
                            <!-- ICON PATREON -->
                            <svg class="icon-patreon">
                                <use xlink:href="#svg-patreon"></use>
                            </svg>
                            <!-- /ICON PATREON -->
                        </div>
                        <!-- /SOCIAL LINK -->

                        <label for="social-account-patreon">Patreon profil linki</label>
                        <input type="text" id="social-account-patreon" name="social_account_patreon">
                    </div>
                    <!-- /FORM INPUT -->
                </div>
                <!-- /FORM ITEM -->
                <!-- FORM ITEM -->
                <div class="form-item">
                    <!-- FORM INPUT -->
                    <div class="form-input social-input small active">
                        <!-- SOCIAL LINK -->
                        <div class="social-link no-hover discord">
                            <!-- ICON DISCORD -->
                            <svg class="icon-discord">
                                <use xlink:href="#svg-discord"></use>
                            </svg>
                            <!-- /ICON DISCORD -->
                        </div>
                        <!-- /SOCIAL LINK -->

                        <label for="social-account-discord">Discord kanal linki</label>
                        <input type="text" id="social-account-discord" name="social_account_discord">
                    </div>
                    <!-- /FORM INPUT -->
                </div>
                <!-- /FORM ITEM -->
            </div>
            <!-- /FORM ROW -->
        </form>
        <!-- /FORM -->
    </div>
    <!-- WIDGET BOX CONTENT -->
</div>
<!-- /WIDGET BOX -->
