@model LoginViewModel
<div class="vhole">
    <div class="login-page">
        <div class="form">
            <form class="login-form" method="post">
                <span asp-validation-for="Username" class="text-danger" style="font-size:13px"></span>
                <input asp-for="Username" type="text" placeholder="istifadəçi adı" />
                <span asp-validation-for="Password" class="text-danger" style="font-size:13px"></span>
                <input asp-for="Password" type="password" placeholder="şifrə" />
                <button type="submit" asp-action="login">Daxil ol</button>
                <p class="message">Üzv deyilsən ? <a class="text-info" asp-action="register">Qeydiyyatdan keç</a></p>
            </form>
        </div>
    </div>
</div>